.container {
    width: 220px; 
    margin: 30px;  
    border-radius: 10px;
    box-shadow: 0px 0px 12px rgba(255, 223, 44, 0.5);
 }
 
 .charactersContainer{
     text-align: center;
 }
 
 
 .name{
     font-size: 0.8em;
     position: absolute;
     bottom: 10vh;
     left:  1vw;
     background-color: rgb(230, 233, 57);
     width: 10vw;
 }
 
 .imageStyle{
     width: 80%;
     border-radius: 50%;
     box-shadow: 0 0 5px 1px #ffdf2c;
 }
 
 .btn{
     align-self: flex-end;
     float: right;
     margin-top: 10px;
     margin-right: 10px;
     background-color: #ffdf2c;
     color: black;
     border: none;
     padding: 9px 13px;
     border-radius: 20px;
     cursor: pointer;
     transition: background-color 0.3s, color 0.3s font-size 1.2s;
 }
 
 .btn:hover {
     background-color: rgba(255, 223, 44, 0);
     color: #ffdf2c;
     font-size: 22px;
 }
 
 .btn:after {
     font-weight: 900;
     position: relative;
     
 }
 
 .data{
     display: flex;
     width: 100%;
     justify-content: space-around;
 }