.form {
    margin-top: 60px;
    margin-bottom: 60px;
    width: 280px;
    border: 2px solid #ffdf2c;
    border-radius: 15px;
    background-size: auto;
    background-repeat: repeat;
    padding: 50px;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.labelForm {
    font-weight: 600;
    font-size: 15px;
}

.emailInputError {
    border: 2px solid #BA3A82;
    box-shadow: 3px 2px 7px #BA3A82
}
.emailInputSuccess {
    border: 2px solid #1888A1; 
    box-shadow: 3px 2px 7px #1888A1
}

.passwordInputError {
    border: 2px solid #BA3A82;
    box-shadow: 3px 2px 7px #BA3A82
}
.passwordInputSuccess {
    border: 2px solid #1888A1; 
    box-shadow: 3px 2px 7px #1888A1
}

.spanEmailError{
    color: #BA3A82;
    font-weight: 680;
    margin: 0 5px ;
    font-size: 12px;
}
.spanPasswordError {
    color: #BA3A82;
    font-weight: 680;
    margin: 0 5px;
    font-size: 12px;
    line-height: 1.2;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-bottom: 15px;
}

img {
   top: 50%;
   left: 50%;
   transform: translate((-50%, -50%));
   width: 90%;
   animation: moveAnimation 5s ease infinite alternate;
}

@keyframes moveAnimation {
    
    50% {
        transform: translate(-5%, -5%);
      }
      50% {
        transform: translate(-7%, -2%) rotate(3deg);
      }
      50% {
        transform: translate(-7%, 2%) rotate(0deg);
      }
  }

.buttonForm {
    color: #000;
    margin-top: 6px;
    background-color: #ECFFFE;
    border: none;
    padding: 5px 20px;
    border-radius: 10px;
    box-shadow: 3px 0px 7px #ffdf2c;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


@media (max-width: 1199px) and (min-width: 768px) {
    .form {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 400px;
        border: 2px solid #ffdf2c;
        border-radius: 10px;
        background-size: auto;
        background-repeat: repeat;
        padding: 20px;
        opacity: 0.8;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .inputContainer{
        width: 300px;
        height: 40px; 
        font-size: 16px;
        margin-bottom: 50px;
    }
    .buttonForm {
        width: 150px;
        margin-top: 20px;
        align-items: center;
        font-size: 16px;
    }
}

@media (max-width: 797px) {
    .form {
        margin-top: 20px; 
        margin-bottom: 20px; 
        width: 250px; 
        border: 2px solid #ffdf2c;
        border-radius: 10px;
        background-size: auto;
        background-repeat: repeat;
        padding: 15px; 
        opacity: 0.8;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .inputContainer {
        width: 200px; 
        height: 30px; 
        font-size: 14px;
        margin-top: 15px; 
        margin-bottom: 35px;
    }
    .buttonForm {
        width: 120px;
        margin-top: 20px;
        align-items: center;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
   
    .form {
        margin-top: 60px; 
        margin-bottom: 10px; 
        width: 200px;
        border: 2px solid #ffdf2c;
        border-radius: 10px;
        background-size: auto;
        background-repeat: repeat;
        padding: 10px; 
        opacity: 0.8;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .inputContainer {
        width: 150px; 
        height: 25px;
        font-size: 12px;
        margin-bottom: 25px;
        margin-top: 20px;
    }

    .buttonForm {
        width: 80px;
        margin-top: 30px;
        align-items: center;
        font-size: 12px;
    }
}