.containerSearchBar {
    margin-top: 10px;
    align-items: end;
}
.inputSearch {
    padding: 6px;
    border: 2px solid #ccc;
    border-radius: 10px;
    /* background-image: linear-gradient(to bottom,  #74ACDF, #ffffff); */
    box-shadow: 3px 0 10px #ffdf2c;
    transition: box-shadow 0.3s ease;
}  


.input:focus{
    outline: none;
    box-shadow: 0 0 10px #ffdf2c, 0 0 10px #ffdf2c inset; 
}
.btnSearch {
    margin-left: 20px;
    color: #000;
    margin-top: 6px;
    background-color: #ECFFFE;
    border: none;
    padding: 5px 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btnSearch:hover {
    background-color: #b3b3b3;
}

.spanSearchCharacter {
    color: #ffdf2c;
    font-size: 17px;
    padding: 10px;
    border: 2px solid #000;
    text-shadow: 4px 4px 4px rgba(255, 255, 255, 0.5);
}