.cardContainer {
    /* width: 180px; 
    margin: 20px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
 }

 .cardContainer > * {
    margin: 80px; /* Espacio entre las tarjetas */
  }

 
  @media (max-width: 1199px) and (min-width: 768px){
    .cardContainer{
        max-width: 768px;
    }
  }

  @media (max-width: 797) {
    .cardContainer{
        max-width: 360;
    }
  }